<div class="incident-index">
  <.headline>
    <.icon name="hero-trophy-mini" /> 25 Incidents Resolved This Month!
    <:tagline :let={emoji}>
      Thanks for pitching in. {emoji}
    </:tagline>
    <:tagline>
      You are the GOAT. 🐐
    </:tagline>
  </.headline>
  <div class="incidents" id="incidents" phx-update="stream">
    <.incident_card
      :for={{dom_id, incident} <- @streams.incidents}
      id={dom_id}
      incident={incident}
    />
  </div>
</div>
