<div class="effort">
  <h1>Community Love</h1>
  <section>
    <button phx-click="add" phx-value-quantity="1">
      +1
    </button>
    <div>
      {@responders}
    </div>
    &times;
    <div>
      {@minutes_per_responder}
    </div>
    =
    <div>
      {@responders * @minutes_per_responder}
    </div>
  </section>
  <form phx-submit="change-time">
    <label>Minutes Per Responder:</label>
    <input type="number" name="minutes" value={@minutes_per_responder} />
  </form>
</div>
